.action-card-container {
  display: flex;
  flex-direction: column;

  align-items: start;
  justify-content: start;

  background-color: #fdfdfd;
  box-shadow: 0px 0px 5px 0px rgba(209, 206, 206, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(209, 206, 206, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(209, 206, 206, 0.75);
  margin: 15px;
  border-radius: 15px;

  height: fit-content;
  padding: 0 0 30px 15px;
  width: 20%;

  overflow: auto;
}

.title {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
}

.input-container {
  margin: 1rem 0 2rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  width: 90%;
}

.input-container input {
  background-color: #fdfdfd;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 2rem;
  margin-bottom: 15px;
  min-width: 100%;
  max-width: 10rem;
transition: all 0.3s ease;
}

.input-container input:focus {
  border: 1px solid black;
  padding: 2.5px;
}

.input-container .subtitle {
  color: black;
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.button-container button {
  margin: 0 1rem;
  border: 1px solid rgb(34, 43, 39);
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}

.button-add {
  width: 164px;
  height: 32px;
background-color: #35c04c;
  border-radius: 10px;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.button-add:hover {
  border: 1px solid rgb(214, 206, 206);
}

.button-decrease {
   width: 164px;
  height: 32px;
  background-color: #ec0606;
 border-radius: 10px;
  transition: all 0.3s ease
}

.button-decrease:hover {
    border: 1px solid rgb(214, 206, 206);
}
