.action-card-container {
  display: flex;
  flex-direction: column;

  align-self: center;

  align-items: center;
  justify-content: flex-start;

  background-color: #6f97a1;
  border: 2.5px solid #486772;
  margin: 15px;
  border-radius: 15px;

  height: 80dvh;
  width: 30%;

  overflow: auto;
}

.title {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
}

.input-container {
  margin: 2.5rem 0 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  width: 90%;
}

.input-container input {
  background-color: #c6d8db;
  border: 1px solid rgba(34, 43, 39);
  border-radius: 5px;
  height: 2rem;
  min-width: 90%;
  max-width: 10rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.button-container button {
  margin: 0 2rem;
  border: 1px solid rgb(34, 43, 39);
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}

.button-add {
  width: 7rem;
  height: 7rem;
  background-color: #c6d8db;
  border-radius: 15px;
 transition: width 0.3s ease, background-color 0.3s ease;
}

.button-add:hover {
  width: 9rem;
  background-color: #35c04c;
}

.button-decrease {
  width: 7rem;
  height: 7rem;
  background-color: #c6d8db;
  border-radius: 15px;
 transition: width 0.3s ease, background-color 0.3s ease;
}

.button-decrease:hover {
  width: 9rem;
  background-color: #ec0606;
}
