.movements-container {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;

  background-color: #fdfdfd;
  box-shadow: 0px 0px 5px 0px rgba(209, 206, 206, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(209, 206, 206, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(209, 206, 206, 0.75);
  margin: 15px;
  border-radius: 15px;

  min-height: 20rem;
  max-height: 30rem;
  width: 40%;
  padding-left: 15px;
  padding-bottom: 15px;

  overflow: auto;
}

.empty {
  display: flex;
  align-self: center;
  justify-self: center;

  height: 100%;
  margin: 50px 0 30px 0;
}

.movement {
  display: flex;
  flex-direction: row;

  height: 5rem;
  width: 90%;

  border-radius: 15px;
  background: #fdfdfd;

  border: 1px solid #dadada;
  border-left: 15px solid #486772;

  margin-top: 1rem;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
}

.date {
  display: flex;

  align-self: flex-end;
}

.movement-name {
  max-height: 50%;
  font-size: 1rem;
  font-weight: 600;
}

.movement-amount {
  height: 25%;
  width: fit-content;
  padding: 2px 5px 2px 5px;
  color: #486772;
  font-size: 0.8rem;
  border-radius: 5px;
}

.consume-movement {
  background-color: rgb(248, 82, 82);
  color: #fff;
}

.add-movement {
  background-color: rgb(158, 247, 158);
}
