.profile-container {
  display: flex;
  flex-direction: column;

  align-items: start;
  justify-content: start;

  background-color: #fdfdfd;
   box-shadow:0px 0px 5px 0px rgba(209,206,206,0.75);
-webkit-box-shadow: 0px 0px 5px 0px rgba(209,206,206,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(209,206,206,0.75);
  margin: 15px;

  height: fit-content;
  width: 20%;
  max-width: 30rem;
  border-radius: 15px;
padding: 0 15px 30px 15px;

  text-transform: capitalize;
}

.profile-container::before {
  content: "";
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.balance-container {
  display: flex;
  flex-direction: column;

  font-size: 1.1rem;
}

.money-amount {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
}


.money-history-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 justify-items: center; 

width: 100%;
}

.history-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
text-align: center;

  border: 1px solid #ccc;
border-radius: 15px;
width: 50%;
padding: 20px;
}

.earn{
 background-color: rgba(150, 250, 150, 0.199);
}

.consume{
 background-color: rgba(255, 142, 142,0.199);
}