body {
  background: #2a7b9b;
  background: #2a7b9b;
  background: linear-gradient(
    222deg,
    rgba(42, 123, 155, 1) 0%,
    #c6d8db 50%,
    #f3f8f8 100%
  );
  width: 100vw;
  height: 100vh;
  margin: 0;
 color: #1f282d;
}
